// app global css in SCSS form
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');

.my-grey-bcg {
    background: url("~assets/concrete_seamless.png") repeat scroll 0 0;
}
.no-margin > p {
    margin: 0;
}

// buttons

.active-now {
    background: rgb(251,63,158);
    background: radial-gradient(circle, rgba(251,63,158,1) 0%, rgba(182,8,44,1) 100%);
}

.passed-exam {
    background: rgb(154,154,154);
    background: radial-gradient(circle, rgba(154,154,154,1) 0%, rgba(89,86,86,1) 100%);
}

.pending-exam {
    background: rgb(247,214,19);
    background: radial-gradient(circle, rgba(247,214,19,1) 0%, rgba(240,143,16,1) 100%);
}

.my-warn-msg {
    color: #f9e6b4;
}

.menu-label {
    line-height: 1.2em !important;
    max-width: 100%;
    font-weight: bold;
}

.header-label {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold !important;
    color: #1b7377;
}

.header-bcg {
    background: -moz-linear-gradient(left,  rgba(21,215,197,1) 0%, rgba(125,185,232,0) 50%);
    background: -webkit-linear-gradient(left,  rgba(21,215,197,1) 0%,rgba(125,185,232,0) 50%);
    background: linear-gradient(to right,  rgba(21,215,197,1) 0%,rgba(125,185,232,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15d7c5', endColorstr='#007db9e8',GradientType=1 );
}

.exam-row {
    border-bottom: 1px solid #e8e8e8;
}

.exam-label {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: 
    #0f827a;
}

.day-label {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: 
    #988f8f;
}

.exam-dialog {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
}

.bell {
    color: #ffd504 !important;
}

.q-date__header-title-label, .q-date__header-subtitle, .q-time__link {
    color: #26a69a !important;    
}

div.q-date__calendar-item--in button.bg-primary {
    background: #ffffff38 !important;
}

div.q-time__clock-position--active {
    background: #ffffff38;
}
